*, ::before , ::after {
  box-sizing: border-box;
}
body,section,div ,article,ul,li{
  margin: 0;
  padding: 0;
}
body {
  background: -moz-linear-gradient(black,green,black);
}

.logo{
  display: flex;
  justify-content: center;
}
.logo img {   
  width : 5rem;
}
.main_container {
  display: flex;
}
.character_imgs_section {
  width: 55%;
  max-height: 110vh;
  overflow-y: scroll;
}
.character_imgs {
  width : 30%;
  margin-left: 3%;
  cursor: pointer;
  border: 1px solid yellow;

}
.character_imgs:hover,
.character_imgs:focus {
  border: none;
  width : 50%;

}

.dispcription_section { 
  padding-left: 9%;
}
.charactername_h2 { 
  color: white;
  font-size: 5rem;
  font-family: cursive;
}
.dispcription_para {
  color : white;
  font-weight : 800;
  text-align: center;
}